// Variables
$transition: 0.3s;
$background: #EAECEF;
$gray: #E9EBEE;
$wallpaper-color: #747275;
$gray-mid: #AEB4BB;
$gray-dark: #4C5157;
$black: #222222;
$text-color: $black;
$blu: #B3E8F1;
$blu-dark: #61A9BD;
$purple-light: #BDC7FD;
$purple-mid: #7C8EF9;
$purple-dark: #586EF1;
// Fonts
$monserat: 'Montserrat',
sans-serif;
$ibmplex: 'IBM Plex Sans',
sans-serif;
$heading-font: $monserat;
$body-font: $ibmplex;

$shadow: $black 1px 0 5px;

* {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    color: $text-color;
}

body {
    background-color: $background;
    opacity: 0;
    transition: $transition;
    background-image: url('../../assets/images/wallpaper.jpg');
    min-height: 100vh;
    max-width: 100vw;
    line-height: 1.5;
    background-repeat: none;
    background-size: contain;
    overflow: none;
    background-color: $wallpaper-color;

    &.visible {
        opacity: 1;
    }

    &.no-scroll {
        overflow: hidden;
    }
}

h1,
h2,
h3,
h4 {
    font-family: $heading-font;
}

p,
a,
strong,
span {
    font-family: $body-font;
    padding-bottom: .25em;
    line-height: 1.5;
}

strong {
    font-weight: 800;
}

p {
    text-align: center;
}

a {
    color: $black;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid $gray-dark;
}

h2 {
    padding-top: .5em;
}

.wrapper {
    padding: .5em 0;
    height: 100%;

    .header {
        .container {
            max-width: 520px;
            padding: 4em 1em 6em;
        }
    }

    .grid {
        text-align: center;
        max-width: 100vw;
        display: flex;
        flex-direction: column;

        .grid-item {
            max-width: 50%;
            max-width: 640px;

            .container {
                display: block;
                width: 100%;
                padding: 1em;
                background-color: $background;
                transition: $transition;
                box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
                margin-bottom: 3em;
                position: relative;

                .hover-container {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    padding: 8em;
                    display: flex;
                    flex-direction: column;
                    background-color: $background;
                    opacity: 0;
                    transition: $transition;
                    display: flex;
                    justify-content: center;

                    .group {
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 1em;
                        text-align: right;

                        h3 {
                            padding-top: .25em;
                            font-weight: 800;
                        }
                    }

                    p {
                        overflow: scroll;
                    }

                    .enquiry-container {
                        padding-top: 1em;
                        padding-bottom: .5em;
                        width: 100%;

                        a {
                            width: 100%;

                        }
                    }
                }

                &:hover {
                    transition: $transition;
                    transform: scale(1.01);
                    border-radius: 1px;

                    // cursor: pointer;
                    .hover-container {
                        transition: $transition;
                        opacity: .75;
                    }
                }

                img {
                    transition: $transition;
                    transform: scale(1);
                    border-radius: 1px;
                }

                span {
                    z-index: 2;
                    font-size: 1.25em;
                }
            }

            &:nth-of-type(1) {
                transform: rotate(-2.5deg);
                padding-right: 15em;
            }

            &:nth-of-type(2) {
                transform: rotate(5deg);
                padding-left: 15em;
            }

            &:nth-of-type(3) {
                transform: rotate(-1.5deg);
                padding-left: 15em;
            }

            &:nth-of-type(4) {
                transform: rotate(2deg);
                padding-left: 1em;
                padding-right: 5em;
            }

            &:nth-of-type(5) {
                transform: rotate(-2deg);
                padding-left: 10em;
            }
        }
    }

    @media (max-width: 800px) {
        padding: 2em 0;
        font-size: 1.0em;
        margin-bottom: 0;
        overflow: hidden;

        .header {
            .container {
                max-width: 420px;
                padding: 1em 1em 1em;
            }
        }

        .grid {
            .grid-item {
                padding: 0 2em 0;
                max-width: 100%;

                .container {
                    width: calc(100% - 4em);
                    overflow: hidden;
                    opacity: 1;

                    &:hover {
                        transform: scale(1);
                        cursor: initial;

                        .hover-container {
                            opacity: 1;
                        }
                    }

                    h3 {
                        padding-top: 1em;
                        padding-bottom: 0;
                        font-size: 1.5em;
                        font-weight: 800;
                    }

                    .hover-container {
                        position: relative;
                        top: auto;
                        right: auto;
                        bottom: auto;
                        left: auto;
                        opacity: 1;
                        padding: 0;

                        .enquiry-container {

                            // position: absolute;
                            // bottom: 1em;
                            // left: 0;
                            // right: 0;
                            p {
                                overflow: scroll;
                            }
                        }

                        p,
                        a {
                            color: $black;
                        }
                    }
                }

                &:nth-of-type(1),
                &:nth-of-type(2),
                &:nth-of-type(3),
                &:nth-of-type(4),
                &:nth-of-type(5) {
                    transform: rotate(0deg);
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}

.footer {
    padding: 0 0 5em;

    .moi {
        color: $background;
        text-shadow: $shadow;
    }

    p {
        color: $gray;
        text-shadow: $shadow;

    }

    .container {
        padding: 2em 1em 3em;
        max-width: 700px;

        p {
            margin-bottom: 2em;
            text-shadow: $shadow;
        }

        .social {
            display: inline;
            padding: .25em;
            border-bottom: 1px solid $gray;
            text-decoration: none;
            color: $background;
            transition: $transition;
            text-shadow: $shadow;

            &:hover {
                transition: $transition;
                color: $background;
            }

            i {
                color: $gray;
            }
        }
    }
}